.set_color{
    width: 100%;
    height: 1080px;
    background-color:#fafafa;
    overflow: hidden;
    
}
.set_img{
    width: 100%;
    height: 1080px;
    background: url('../../images/bei.png') no-repeat;
    overflow: hidden;

}
.logo{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    
    
}
.logo h3{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.center{
    margin-top: 100px;
    width: 100%;
    height:460px ;

}
.center_xingxi{
    width: 53%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow : 0 8px 23px rgba(0,0,0,.07);

}
.bottom{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 60px;
}
.bottom p{
    color: #999;
    text-align: center;
}



/* //信息 */
.title{
    width: 100%;
    height: 80px;
 
    border-bottom:1px solid #d9d9d9;
}
.title p{
    padding-left: 20px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bolder;

}
.title p span{
    color: tomato;
    font-weight: bolder;
}
.center_leirong{
    width: 100%;
    height: 360px;
 
    overflow: hidden;
}
.leirong{
    width: 100%;
    height: 200px;

    margin-top: 40px;
}
.top{
    width: 80%;
    height: 40px;

    margin: auto;
}
.phone{
    width: 26%;
    height: 40px;

    float: left;
    line-height: 40px;
    font-size: 13px;
    color: #555;
    padding-left: 10px;
}
.button{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    outline: none;
    text-decoration: none;
    border:none;
    color: #ff5777;
    border:  1px solid #ff5777;
    border-radius: 6px;
    background-color:white;
}
.buttom{
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 10px;


}
.buttom p{
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #555;


}
.buttom p span{
    color: red;
    padding-right: 5px;
}
.yanzhenpassword{
    outline: none;
    text-decoration: none;
    border:none;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    border:1px solid #d9d9d9;


}
.submit{
     width: 130px;
     height: 35px;
     margin-left: 70px;
     background-color: #ff5777;
     color: white;
     border-radius: 6px;
     outline: none;
     text-decoration: none;
     border:none;
}
