.all{
    width: 100%;
    height: 400px;
    box-shadow : 0 8px 23px rgba(0,0,0,.07);
    border:1px solid #d9d9d9;
}
.title{
    width: 100%;
    height: 100px;
    background-color: #fafafa;
    border-bottom: 1px solid #d9d9d9;
}
.title h3{
    font-size: 20px;
    font-weight: bolder;
    padding-left: 15px;
    line-height: 50px;
}
.title p{
    padding-left: 15px;
}
.center{
    width: 100%;
    height: 300px;
    background-color: rgb(139, 238, 130);
}
.xingxi_one{
    width: 100%;
    height: 150px;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
}
.one_left{
    width: 150px;
    height: 150px;
    float: left;
}
.one_left img{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}
.one_right{
    width: 300px;
    height: 100px;
    float: left;
    margin-top: 20px;
}
h4{
    font-size: 17px;
    font-weight: bolder;
}

.xingxi_two{
    width: 100%;
    height: 150px;
    background-color: white;
}
.two_left{
    width: 150px;
    height: 150px;
    float: left;
}
.two_left img{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}
.two_right{
    width: 200px;
    height: 150px;
    padding-top:20px;
    float: left;
}
