.all{
    width: 350px;
    height: 300px;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 40px;
}
.all p{
    color: #ff4777;
}
.new_password{
    width: 200px;
    height: 35px;
    outline: none;
    border:none;
    border:1px solid #d9d9d9;
    padding-left: 10px;
    margin-top: 20px;
}
.confirm_password{
    width: 200px;
    height: 35px;
    outline: none;
    border:none;
    border:1px solid #d9d9d9;
    padding-left: 10px;
    margin-top: 10px;
}
.submit{
    width: 100px;
    height: 35px;
    background-color: #ff4777;
    color: white;
    border:none;
    margin-left: 70px;
    margin-top: 10px;
}