.one{
    width: 400px;
    height: 200px;
    /* background-color: rgb(164, 221, 79); */
    margin: auto;
}
.form{
    /* background-color: grey; */
    margin-top: 30px;
}
.youxiang{
    width: 250px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    border:1px solid #d9d9d9;
}
.next{
    width: 100px;
    height: 35px;
    border: none;
    background-color: #ff4777;
    outline: none;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
}
.next:hover{
    background-color: #ff4778a3;
    color: white;
}