.header{
    position: absolute;
    width: 56%;
    height: 900px;
}
.dr{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.r{
    width:95%;
    height: 50px;
    font-size: 1.3em;
    margin-top: 10px;
    margin-left: 10px;
}
.ra{
    width:95%;
    height: 50px;
    margin-left: 10px;
    font-size: 1.3em;
}
.di{
    width: 90%;
    height: 260px;
    margin-top: 20px;
    margin-left: 10px;
}
.d1{
    width: 100%;
    height: 50px;
}
.h{
    font-size: 1.5em;
    width: 110px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.in{
    width: 40%;
    height: 50px;
}
.d2{
    position: absolute;
    width: 90%;
    height: 200px;
    margin-top: 10px;
}
.h1{
    font-size: 1.5em;
    width: 110px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.text{
    width: 55%;
}
.bu{
    width: 90px;
    height: 40px;
    font-size: 1.4em;
    color: aliceblue;
    margin-left: 65%;
    margin-top: 50px;
    background-color: #ff5574;
}