.homepage_homepage{
    width: 70%;
    text-align: center;
    height: 1168px;
    background-color: #f7f7f7;
    margin-left: 15%;
}
.homepage_classification{
    position: relative;
    width: 100%;
    height: 405px;
    border:1px solid #f1f1f1;
    background-color: #f7f7f7;;
}
.homepage_link{
    color: gray;
}
/* 分类 */
.homepage_allfication{
    width: 25%;
    height: 353px;
    position: relative;
    float: left;
}
.homepage_fication{
    width: 100%;
    height: 353px;
    position: relative;
    border:1px solid #f1f1f1;
}
.homepage_menuheader{
    color: gray;
    font-size: 1.1em;
    
}
.homepage_submenutop{
    margin-top: 15px;
    height: 50px;
    border-radius: 1px solid gray;
}
.homepage_submenu{
    height: 50px;
    border-radius: 1px solid gray;
}
.homepage_fispan{
    color: gray;
    
    margin-left: 30px;
    font-size: 1.2em;
    letter-spacing: 5px;/*字间距*/
}
.homepage_fiicon{
    width: 35px;
    height: 35px;
}
/* 轮播图 */
.homepage_carousel{
    position: absolute;
    width: 58%;
    height: 410px;
    margin-left: 25.5%;
}
.homepage_rotary{
    width: 100%;
    height:412px;
    
  }
  /* 登录注册（个人中心） */
  .homepage_lr{
    position: absolute;
    width: 16%;
    height: 400px;
    margin-left: 84%;
    background-color: #ffffff;
  }
  .homepage_tou{
   
      height:200px;
  }
  .homepage_itou{
      margin-top: 20%;
  }
  .homepage_login{
      height: 200px;
  }
  .homepage_lb{
      
      margin-left: 2px;
  }
  .homepage_wec{
      width: 100%;
      margin-top: 30%;
      text-align: center;
      font-size: 1.5em;
      color: #f46;
  }
  /* 食品精选 */
  .homepage_xuan{
      width: 100%;
      height: 765px;
  }
  .homepage_fh{
    position: absolute; 
    width: 70%;
    height: 400px;
}
.homepage_more{
    position: absolute;
    width: 100%;
    height: 50px;
  
    background-color:#f5f5f5;
}
.homepage_f{
    width:150px; 
    height: 50px;
    line-height: 50px;
    font-size:1.5em;
    color: gray;
    float: left;
}
.homepage_lf{
    color: gray;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    margin-left: 75%;
}
.homepage_picd{
    
    width: 100%;
    height: 330px;
    margin-top: 50px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
}
.homepage_pics{
    width: 100%;
    height: 325px;
    float: left;
    text-align: center;

}
.homepage_pica{
    width:22%;
    height: 325px;
    float: left;
    margin-top: 25px;
    margin-left: 2.4%;
    text-align: center;
}
.homepage_pic{
    text-align: center;
    width:100%;
    height: 150px;
}
.homepage_pich{
    color:#f46;
    margin-top: 7px;
    font-size: 1.3em;
}
.homepage_picp{
    font-size: 1.2em;
    color: gray;
}
.homepage_picp2{
    color: #f46;
}
/* 跳蚤市场 */
.homepage_sec{
  position: absolute; 
  width: 70%;
  height: 400px;
  margin-top: 382px;
}
.homepage_smore{
  position: absolute;
  width: 100%;
  height: 50px;

  background-color:#f5f5f5;
}
.homepage_s{
  width:150px; 
  height: 50px;
  line-height: 50px;
  font-size:1.5em;
  color: gray;
  float: left;
}
.homepage_sm{
  color: gray;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
  margin-left: 75%;
}
.homepage_spicd{
  
  width: 100%;
  height: 330px;
  margin-top: 50px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
}
.homepage_spics{
  width: 100%;
  height: 325px;
  float: left;
  text-align: center;

}
.homepage_spica{
  width:22%;
  height: 325px;
  float: left;
  margin-top: 25px;
  margin-left: 2.4%;
  text-align: center;
}
.homepage_spic{
  text-align: center;
  width:100%;
  height: 150px;
}
.homepage_spich{
  color:#f46;
  margin-top: 7px;
  height: 70px;
  font-size: 1.3em;
}
.homepage_p1{
    width: 25px;
    height: 25px;
  font-size: 1.3em;
  color: gray;
  float: left;
  margin-left: 100px;
}
.homepage_spicp2{
    width: 70px;
    height: 25px;
    margin-left: 125px;
  color: #f46;
  font-size: 1.5em;
}