.all{
    width: 100%;
    height: 630px;

}
.title{
    width: 95%;
     height: 40px;
     background-color: #fafafa;
     float: right;
     line-height: 40px;
     padding-left: 10px;
     color: #999;
}