.allorder_bottom{
    width: 100%;
    height: 200px;
    margin: auto;
    
}

.zuo{
    width: 30%;
    height: 200px;
    float: left;
 
    
}
.you{
    width: 70%;
    height: 200px;
    float: left;
  
    
}
.h5{
    font-size: 17px;
    font-weight: bolder;
    margin-top: 40px;
    
}
.you p{
    font-size: 12px;
    margin-top: 20px;
    padding-left: 35px;
}
.link{
    color:rgb(240, 10, 48);
}