.container > .container_top{
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
}
.container > .container_top > .food_title{
    width: 100%;
    height: 40px; 
    background-color: #f3f3f3;
}
.container > .container_top > .food_title > h3{
    font-size: 22px;
    line-height: 40px;
    margin-left: 2%;
    /* border-bottom: 2px solid #727272; */
}
.container > .container_top > .container_title > a{
    font-size: 20px;
    color: #2c2c2c;
    margin-left: 2%;
}
.container > .container_top > .container_title > span{
    margin-left: 2%;
}


/* 食品：主要内容 */
.content{
    width: 100%;
}
.content > ul > li{
    width: 23%;
    height: 270px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    float: left;
    background-color: #f8f8f8;
}
.content > ul > li > a{
    width: 100%;
    height: 270px;
}
.content > ul > li > a > img{
    width: 220px;
    height: 220px;
 }
.content > ul > li > a > .price > a{
    width: 100%;
    font-size: 17px;
    color: #000000;
}
.content > ul > li > a > .price > p{
    margin-left: 12%;
    color: #000000;
}