.all{
    width: 400px;
    height: 200px;
    /* background-color: whitesmoke; */
    margin: auto;
    margin-top: 20px;

}
.form p{
    color: #d9d9d9;
}
.input_one{
    width: 100px;
    height: 35px;
   border: none;
   border:1px solid #d9d9d9;
   

}
.input_two{
    width: 100px;
    height: 35px;
    margin-left: 10px;
    border: none;
    list-style: none;
}
.submit{
    width: 100px;
    height: 35px;
    background-color: #ff4777;
    color:white;
    border: none;
    list-style: none;
    margin-left: 54px;
    margin-top: 10px;
}