
/*初始化页面*/

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a{
    color: #666;
    text-decoration: none;
}

/*快递帮拿*/

.box{
    height: 700px;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
}
.item_name{
    width: 100%;
    height: 80px;
    margin-bottom: 5%;
    background-color: #01ffa6;
}
.item_name >h3{
    font-size: 50px;
    margin-left: 10%;
    background-color: #01ffa6;
    color: #8b34ad;
    letter-spacing: 10px;
}
.courier_img{
    width: 55%;
    height: 57.7%;
    background-color: #ffffff;
    float: left;
}
.courier_img > img{
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.container{
    width: 40%;
    height: 57.4%;
    float: left;
    background-color: #ffffff;
    border:1px solid #0f0f0f;
    border-radius: 3px;
}
.courierCon{
     margin: 4% 3%;
 }
.courierCon_name{
    margin: 4% 11.5%;
}
.courierCon_num{
    margin: 4% 7.7%;
}
.courierCon,.courierCon_name,.courierCon_num, label, input{
    background-color: #ffffff;
    letter-spacing: 5px;
}
.courierCon > label,.courierCon_name > label,.courierCon_num > label{
    font-size: 16px;
    color: #0f0f0f;
}
.courierCon > input,.courierCon_name > input,.courierCon_num > input{
    text-indent: 14px;
    width: 60%;
    height: 35px;
    color: #0f0f0f;
    border: 1px solid #0f0f0f;
    border-radius: 3px;
}
.courierCon_name > input,.courierCon_num > input{
    width: 30%;
}
.courierCon > input:hover,.courierCon_name > input:hover,.courierCon_num > input:hover{
    border: 1px solid #f46;
    background-color: #fdfdfd;
}
.container > button{
    width: 20%;
    height: 6.5%;
    background-color: #ffb0ac;
    border: 1px solid #ffb0ac;
    margin: 8px 39%;
}
.container > button:hover{
    background-color: #f46;
    color: #fff8fd;
}
