.tou{
    width: 100%;
    height: 80px;
    border: 1px solid rgb(221, 221, 221);
}
.timg{
    width: 242px;
    height: 80px;
    margin-left: 15%;
    float: left;
}
.back{
    width: 100px;
    height: 80px;
    line-height: 80px;
    color: #f46;
    font-size: 1.3em;
    margin-left: 49%;
}
.h1{
    width: 260px;
    height: 80px;
    line-height: 80px;
    font-size: 1.7em;
    color: #f46;
    float: left;
}
.down{
    width: 70%;
    height: 900px;
    margin-left: 15%;
    border: 1px solid rgb(231, 231, 231);
}
.left{
    position: absolute;
    width: 13%;
    height: 900px;
    border-right: 1px solid rgb(230, 230, 230);
}
.link{
    color: gray;
}
.h{
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    margin-top: 10px;
    text-align: center;
    color: gray;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.h2{
    width: 100%;
    height: 50px;
    line-height: 40px;
    font-size: 1.4em;
    text-align: center;
    color: gray;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.right{
    width: 81%;
    margin-left: 18.7%;
    height: 900px;
}